body{
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
li{
    padding: 5px;
}
.active{
    color:red;
}
img{
    width:20rem
}