body{
    background-color: lightgray;
}

.tab {
    width: 500px;
    overflow: hidden;
    border: solid black;
}

.tab button{
    background: lightblue;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.tab button:hover{
    background-color: gray;
}
.tab button.active{
    background-color: white;
}
.tabcontent{
    background-color: white;
    width: 500px;
    padding: 12px;
    line-height: 21px;
    display: none;
}